@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  background-color: white;
}

.wrapper {
  margin: auto;
  margin-top: 100px;
  max-width: 350px;
}

.container {
  background-color: #140707;
  border: 2px solid;
  max-width: 850px;
  margin-bottom: 100px;
}
/* Output */
h3 {
  text-align: right;
  padding-bottom: 10px;
  padding-top: 50px;
  padding-right: 20px;
  color: white;
}
/* BUTTONS */
.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btns div {
  border: 1px solid;
  width: 70px;
  height: 70px;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #3f3f3f;
  border-radius: 50%;
  color: white;
  border-color: transparent;
}
.btns div:hover {
  background-color: #a9a9a9;
}

.wrapper .container .num0 {
  width: 150px;
  justify-content: flex-start;
  padding-left: 25px;
  border-radius: 50px;
}

i {
  font-size: 25px;
}

#decimal-btn i {
  font-size: 0.4em;
}

#ac-btn,
#clear-btn,
#percentage-btn {
  background-color: #c0c0c0;
  color: black;
}

#ac-btn:hover,
#clear-btn:hover,
#percentage-btn:hover {
  background-color: white;
}

.wrapper .container .opStyle {
  background-color: orange;
}
.wrapper .container .opStyle:hover {
  background-color: #ffc82f;
}

#division-btn i,
#multiply-btn i,
#subtraction-btn i,
#add-btn i,
#equal-btn i {
  color: white;
}

#clear-btn,
#ac-btn {
  font-size: 30px;
}

/* TOGGLE BUTTONS */
#toggle-on {
  background-color: white;
  font-size: 100px;
  text-align: center;
  position: relative;
  margin-left: 350px;
  display: none;
}
#toggle-off {
  margin-left: 350px;
  background-color: white;
  font-size: 100px;
  text-align: center;
  position: relative;
  margin-left: 350px;
}
